APP_PUBLIC_URL=http://localhost:3000
KONG_URL=http://localhost:8000
KEYCLOAK_AUTHORIZATION_URL=http://localhost:8080/realms/crash-game/protocol/openid-connect/auth
KEYCLOAK_TOKEN_URL=http://localhost:8080/realms/crash-game/protocol/openid-connect/token
KEYCLOAK_CLIENT_ID=crash-game-client
KEYCLOAK_REDIRECT_URI=http://localhost:3000/api/auth/callback
NEXT_PUBLIC_GAMES_SOCKET_URL=http://localhost:4001/games
NEXT_TELEMETRY_DISABLED=1