PORT=4001
DATABASE_URL=postgresql://admin:admin@postgres:5432/games
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672

KEYCLOAK_ISSUER=http://localhost:8080/realms/crash-game
KEYCLOAK_JWKS_URL=http://keycloak:8080/realms/crash-game/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=crash-game-client
AUTH_DISABLED=false

GAME_ENGINE_TICK_MS=1000
GAME_BETTING_WINDOW_MS=10000
GAME_CRASH_REVEAL_MS=3000
GAME_MULTIPLIER_GROWTH_PER_SECOND=0.1
GAME_MAX_CRASH_MULTIPLIER=100