PORT=4001
DATABASE_URL=postgresql://admin:admin@localhost:5435/games
RABBITMQ_URL=amqp://admin:admin@localhost:5672

KEYCLOAK_ISSUER=http://localhost:8080/realms/crash-game
KEYCLOAK_JWKS_URL=http://localhost:8080/realms/crash-game/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=crash-game-client
AUTH_DISABLED=false

GAME_ENGINE_TICK_MS=100
GAME_BETTING_WINDOW_MS=5000
GAME_CRASH_REVEAL_MS=2000
GAME_MULTIPLIER_GROWTH_PER_SECOND=0.1
GAME_MAX_CRASH_MULTIPLIER=20